body {
    background-color: #e3e7c8;
    color: #2c180d;
    font-family: Arial, Helvetica, sans-serif;
}

.informationsboks {
    display: flex;
    flex-direction: column;
    margin-left: 10%; 
    margin-bottom: 5%;    
    max-width: 50%;
}

h1 {
    color: #163913;
    margin-top: 0;
    font-family: "opake", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 40px;
}
 
  .text1 {
    max-width: 70%; /* Begrænser bredden på teksten */
  }
  
  .con-img1 {
    max-width: 50%; /* Begrænser bredden på billedet */
    flex-direction: column;
  }
  
  img {
    width: 100%; /* Gør billedet responsivt */
  }