* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-family: "opake", sans-serif;
    text-align: center;
    margin-bottom: 20px;
    color: #163913;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: #163913;
    border-radius: 28px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.5s;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
    transform: translateY(-9px);
}

.card-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    color: #ffffff;
}

.container {
    text-align: center;
    margin-top: 10px;
}

.text-box {
    background-color: #163913;
    border-radius: 5px;
    padding: 15px;
    color: #ffffff;
    font-sirgb:(255, 252, 252)16px;
    max-width: 600px;
    margin: 20px auto;
}