* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
font-family: "opake", sans-serif;
font-weight: 900;
font-style: normal;    
background-color: #f4f4f4;
 font-weight: 50px; 
}

h1 {
    font-family: "opake", sans-serif; 
    text-align: center; 
    margin: 20px 0; 
    color:#163913 ;
}

.card-container {
    display: flex; 
    justify-content: center; 
    gap: 10px; 
    border-radius: 38px; 
}

.card {
    background: #163913; 
    border-radius: 38px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    overflow: hidden; 
    width: 300px; 
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-6px);
}

.card-image {
    width: 100%; 
    height: 200px; 
    object-fit: cover; 
}

.card-content {
    padding: 25px; 
}

.card-content h3 {
    margin-bottom: 10px; 
    color: #ffffff; 
}

.card-content p {
    color: #000000; 
    line-height: 1.5;
}

